.homePageWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.formWrapper{
  background: rgba(128, 128, 128, 0.603);
  padding: 30px;
  border-radius: 10px; 
}

.formWrapper h4{
  color: white;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.mainLabel{
  margin-bottom: 10px;
  margin-top: 0;
}

.input{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 13px;
  font-weight: bold;
}

.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinbtn{
  background: rgb(0, 136, 209);
  width: 50%;
  margin-left: 25%; 
}

.joinbtn:hover{
  background: rgb(0,110,170);
}

.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn{
  margin-left: 20%;
}

/* .createNewBtn a{
  color: white;
} */

.inputGroup a{
  color: white;
}

.inputGroup a:hover{
  color: rgb(0,110,170);
}

footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color: black;
}

footer a:hover{
  color: rgb(0,110,170);
}

.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.logo{
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage{
  height: 80px;
}

.aside{
  background: rgb(101, 183, 233);
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.asideInner{
  flex: 1;
}

.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.username{
  margin-top: 2px;
}

.copybtn{
  border-radius: 10px;
}

.leavebtn{
  margin-top: 20px;
  border-radius: 10px;
  background: rgb(0, 136, 209);
  width: 100%;
}

.leavebtn:hover{
  background: rgb(0,110,170);
}

.CodeMirror {
  min-height: calc(100vh - 20px); 
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}